* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#topNav {
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    z-index: 1000;
    background: white;
    width: 100%;
    position: fixed;
    justify-content: space-between;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.navLinks {
    font-size: 30px;
    text-decoration: none;
    color: #333;
}


.navMenu {
    gap: 2rem;
    display: flex;
    list-style: none;
}
@media screen and (max-width:600px) {
    .navLinks {
        font-size: 10px;
    }
}

#intro {
    padding-top: 100px;
    background: #ECF4E8;
    height: 738px;
}

.container2{
    justify-content: center;
    padding-top: 100px;
    display: flex;
    gap: 50px;
}
@media (min-width:1080px) {
    .container2{
        gap: 200px;
    }
}

.loading {
    background: #c1c1c1;
    overflow: hidden;
    min-height: 30px;
    margin: 2rem;
    position: relative;
}


.loading::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent, #dedede, transparent);
    transform: translate(-100%);
    animation: loading 1s infinite;
}
@keyframes loading {
    100%{
        transform: translate(100%);
    }
}
.img {

    height: 20rem;
    min-width: 300px;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 20px 10px 15px 5px #333;
    border: solid;
}

img:hover {
    content: url(jsker.jpg);
    alt: "Hi";
    font-size: 500px;
}


.introRow {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 400px;
    gap: 10px;
}
.text {
    min-height: 200px;
    max-width: 400px;
    color: #333;
    font-size: 18px;
    font-family: sans-serif;
    animation-name: getin;
    transition: 1s ease;
    animation-timing-function: 1s;
    animation-duration: 4s;
    animation-delay: 2s;
}

@keyframes getin {
    0% {
         transform: translateX(100px);
    }
    100% {
        transform: translatx(0%);
    }
}



@media (max-width:600px) {
    .container2 {
        flex-direction: column;
        padding-top: 0%;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }
    .img {
        box-shadow: 1px 1px 5px 5px;
        border: none;
    }
    .text {
        width: 320px;
        margin: 10px;
        
    }
}

.link {
    display: flex;
    justify-content: space-between;
}

.socmed {
    display: none;
}

.nice {
    display: none;
}
.socmeds {
    width: 40px;
    box-shadow: 1px 1px 4px 4px #333;
    padding: 5px;
    border-radius: 40%;
}

.mainLink:hover {
    transform: translateY(-10px);
    background: #333;
    fill: white;
    border-radius: 40%;
    border: solid;
}

.socmeds:active {
    background: #333;
    fill: white;
}

.container3 {
    border: solid;
    height: 700px;
}

